@use '../../styles/partials/colors' as *;

.header {
    width: 100%;
    height: 3rem;
    background-color: $purple;
    display: flex;
    align-items: center;
    position: relative;

    &__text {
        position: relative;
        top: -0.15rem;
        color: $black;
        text-transform: capitalize;
    }

    &__arrow {
        color: $black;
    }

    &__container__profile-icon {
        position: absolute;
        right: 1rem;
        top: -2rem;
    }
}