.navigation {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    background-color: #848484;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3rem;
    margin: 0;
    width: 100%;

    &__link {
        &__icons {
            height: 1.5625rem;
            width: 1.5625rem;
        }
    }
}
