@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;

.modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;

    &-content {
        display: flex;
        flex-direction: column;
        width: 20rem;
        height: 20.5625rem;
        background-color: #C6B8FD;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 2.1875rem;

        &-close {
            width: 100%;
            border: none;
            background-color: transparent;
            transform: translateY(1.25rem);
        }

        &-img {
            margin-left: 17.5rem;
            width: 1.5rem;
            height: 1.5rem;
        }

        &-header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: 2.375rem;
            padding-right: 2.375rem;

            &-title {
                @include mobile__exercise__description-title;
                margin: 0;
                padding-top: 1rem;
                color: $background;
            }

            &-congrats {
                text-align: center;
                @include mobile__exercise-list;
            }
        }

        &-calories {
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;
            background: linear-gradient(180deg, #000000 0%, #6B4CE7 100%);
            width: 7.25rem;
            height: 7.25rem;

            &-display {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 6.0625rem;
                height: 6.0625rem;
                background-color: #8B6FFB;
                margin-left: auto;
                margin-right: auto;
                transform: translateY(0.625rem);
                border-radius: 50%;

                &-title {
                    color: #FFFFFF;
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 32px;
                }

            }
        }

        &-button {
            display: flex;
            justify-content: center;
            padding-top: 1rem;
            &-btn {
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 12.6875rem;
                height: 2.3125rem;
                border: none;
                color: #FFFFFF;
                background-color: #191919;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 3.125rem;
            }
        }
    }
}