@use '../../styles/partials/colors' as *;

.exercise {
    color: $black;
    background-color: $lightPurple;
    border-radius: 50rem;
    border: none;
    display: inline;
    min-width: 4.5rem;
    padding: 0 0.5rem;
    text-align: center;
}